* {
    box-sizing: border-box;
}

input[type="button"] {
    width: 90px;
    height: 90px;
}

input[type="text"] {
    width: 100%;
    height: 70px;
    margin-bottom: 10px;
}

#calculadora {
    border: 2px solid black;
    width: 300px;
}